body {
    padding-bottom: 20px;
    min-height: 100%;
    height: 100%;
    /*background-image: url("../images/loginBG.jpg")*/
}

a{
    color: black;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing{
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    position:fixed;
    color: #777;
    width:100%;
    background-color : rgb(26,26,26);
    clear: both;
    z-index: 150;
    height: 3em;
    padding-top: 10px;
    margin-top: 50px;
    bottom:0;
}


/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
.page-header{
    margin-top: 0px;

}
/*footer{
    margin-top: 40px;
}*/

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing{
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
.btn-default{
    display: block;
    width:100%;
}
.btn-warning{
    font-weight:bold;
}
.login{
    margin-top:50px;
}
.regImg{
    height:200px;
    width: 200px;
    align-self: left;
    border-radius:50% 50%;
    transform: scale(1);
    transition-duration: 0.5s;

}
.regImg:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.card-text{
    padding-top:40px;
    padding-right: 60px;
}
footer{
    margin-top:50px;
}