<h2 class="container">{{code}}</h2>
<br>
<a href="/codes/new"><button class="btn btn-default">Generate Code</button></a>
<br>
<br>
<br>

<form method="post" action="/admins/new">
    <div class="input-group">

        <input type="text" class="form-control" placeholder="Username" name="Username">
        <button class="btn btn-default">Make admin</button>
    </div>
</form>