<h2 class="page-header">Event</h2>
<div class="bg-info">
    <span><b>Name : {{details.name}}</b></span>
    <br>
    <span><b>Date : {{details.date}}</b></span>
    <br>
    <span><b>Venue : {{details.venue}}</b></span>
    <br>
    <span><b>Desctiprion : {{details.desc}}</b></span>
</div>
