<div class="col-sm-6">
	<div class="login">
		<h2 class="page-header">Account Login</h2>
		<!-- <form method="post" action="/users/login">
		    <div class="form-group row">
			    <div class="col-md-12">
			    	<div class="col-xs-12">
				        <label>Username</label>
				        <input type="text" class="form-control" placeholder="Username" name="username">
			        </div>
				</div>
				<div class="col-md-12">
			        <br>
			    	<div class="col-xs-12">
				        <label>Password</label>
				        <input type="password" class="form-control" placeholder="Password" name="password">
			        </div>
			    </div>
		    </div>
		    <div class="col-md-12">
			    <div class="button">
			    	<button type="submit" class = "btn btn-default">Submit</button>
			    </div>
		    </div>
		</form> -->
		<form method="post" action="/users/login">
		    <div class="input-group">
		        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
		        <input type="text" class="form-control" placeholder="Username" name="username">
		    </div>
		    <br>
		    <div class="input-group">
		        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
		        <input type="password" class="form-control" placeholder="Password" name="password">
		    </div>
		    <br>
		    <button type="submit" class="btn btn-warning btn-block">Login</button>
			</form>
	</div>
</div>
<div class="col-md-6">
</div>