<h2 class="page-header">New Event</h2>
{{#if errors}}
    {{# each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}


{{/if}}

<form method="post" action="/events/new">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Name" name="Name">
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="date" class="form-control" placeholder="1/1/2017" name="Date">
    </div>

    <div class="form-group">
        <label>Venue</label>
        <input type="text" class="form-control" placeholder="NSIT" name="Venue">
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" placeholder="Description" name="Desc">
    </div>
    <!--<fieldset class="form-group">-->
    <!--<legend>Sign Up as </legend>-->
    <!--<div class="form-check">-->
    <!--<label class="form-check-label">-->
    <!--<input type="radio" class="form-check-input" name="Role" id="RoleStudent" value="Student" checked>-->
    <!--I am a Student-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="form-check">-->
    <!--<label class="form-check-label">-->
    <!--<input type="radio" class="form-check-input" name="Role" id="RoleTeacher" value="Teacher">-->
    <!--I am a Teacher-->
    <!--</label>-->
    <!--</div>-->
    <!--</fieldset>-->
    <!--<div class="form-group">-->
    <!--<label>Roll Number</label>-->
    <!--<input type="text" class="form-control" placeholder="Leave Blank if teacher" name="Roll">-->
    <!--</div>-->

    <button type="submit" class="btn btn-default">Submit</button>
</form>