<!-- <a class="btn btn-warning" href="/users/signup?society=true">Society</a>
<a class="btn btn-primary" href="/users/signup?society=false">User</a>
 -->
<div class="col-md-12">
	<div class="card-user">
		<A href="/users/signup?society=false"><img class="regImg" src="../images/newuser.png" align="right"></a>
	</div>
	<div class="card-text" align="left">
		<h2>New User?</h2>
		<p>Just click the image on your right to register yourself</p>
	</div>
</div>
<div class="col-md-12">
	<div class="card-user">
		<a href="/users/signup?society=true"><img class="regImg" src="../images/newsociety.png" align="left"></a>
	</div>
	<div class="card-text" align="right">
		<h2>New Society?</h2>
		<p>Just click the image on your left to register yourself</p>
	</div>
</div>